.row {
width: 800x;
background-color: aqua;
height: 200px;
margin: 0 auto;
display: flex;
align-items: center;

}
.col, .col-2 , .col-3 {
    border: dotted red 1px;
    background-color: sandybrown;
    height: 100px;
    flex: 1;
}

.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}